{{ if site:name !== 'v2.2' }}
    <div class="bg-gray-100 border-l-4 border-sc-dark-blue py-4 mb-6 px-6">
        <p class="font-semibold">You're viewing the documentation for an old version of Simple Commerce. <a class="text-sc-dark-blue underline" href="/v2.2/update-guide">Consider updating to v2.2</a>.</p>
    </div>
{{ /if }}

<div class="mb-12">
    <h1 class="text-4xl font-bold font-sc mb-2">{{ title }}</h1>

    {{ content | noparse | toc }}
</div>

<article class="prose mx-auto">
    {{ content | toc:ids }}
</article>
