---
title: Features
hide_header: true
without_container: true
---

<section class="bg-gray-200 py-12">
    <div class="max-w-2xl mx-auto">
        <h1 class="text-gray-800 font-bold text-center mb-2 text-4xl">Simple Commerce vs competitors</h1>
        <h3 class="text-gray-700 font-semibold text-center text-lg">An honest feature comparison between Simple Commerce and its competitors.</h3>
    </div>
</section>

<section>
    <div class="w-full px-6 md:px-0 md:w-3/4 lg:w-1/2 mx-auto mt-8">
        <div class="w-full">
            <div id="content" class="prose mx-auto">
                <h2>Which one should I choose to work with?</h2>
                <p>I'm not going to say "You should always work with Simple Commerce". It's simply not always true. There's a lot of cases where using Butik or Snipcart could be better. Most of the time it comes down to what you need to deliver to the client.</p>
            </div>
        </div>
    </div>

    <div class="w-full px-6 md:w-3/4 lg:w-2/3 mx-auto mt-20 mb-12">
        <table class="w-full table-auto">
            <thead>
                <th class=""></th>
                <th class="border-2 border-b-0 border-sc-dark-light w-48 py-2">
                    <span class="text-sc-dark-blue text-lg mb-1">Simple Commerce</span><br>
                    <span class="text-gray-600 text-sm font-semibold">$149</span>
                </th>
                <th class="border-2 border-b-0 border-sc-dark-light w-48 py-2">
                    <span class="text-gray-800 text-lg mb-1">Butik</span><br>
                    <span class="text-gray-600 text-sm font-semibold">$199</span>
                </th>
                <th class="border-2 border-b-0 border-sc-dark-light w-48 py-2">
                    <span class="text-gray-800 text-lg mb-1">Snipcart</span><br>
                    <span class="text-gray-600 text-sm font-semibold">$69</span>
                </th>
            </thead>
            <tbody>
                <tr>
                    <th class="border-2 border-b-0 border-sc-dark-light py-6 flex items-center justify-center">
                        <span class="text-gray-800 font-semibold">Feature 1</span>
                    </th>
                    <td class="border-2 border-b-0 border-sc-dark-light py-6 flex items-center justify-center">✅</td>
                    <td class="border-2 border-b-0 border-sc-dark-light py-6 flex items-center justify-center">✅</td>
                    <td class="border-2 border-b-0 border-sc-dark-light py-6 flex items-center justify-center">✅</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="mt-20"></div>
