<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }} - {{ site:name }}</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="/css/site.css">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        {{ if app:env === 'production' }}
            <!-- Fathom - beautiful, simple website analytics -->
            <script src="https://bear.duncanm.dev/script.js" site="TZWWDRQY" defer></script>
            <!-- / Fathom -->
        {{ /if }}
    </head>
    <body>
        <div class="flex overflow-hidden h-screen">
            <aside class="max-w-xs font-sc">
                <div class="bg-sc-dark-blue text-white h-screen w-full">
                    <div class="flex flex-col justify-between min-h-full p-4">
                        <div>
                            <a href="/">
                                <img src="/img/simple-commerce.svg" alt="Simple Commerce" width="200px">
                            </a>
                        </div>

                        <div>
                            <h2 class="mb-4 font-bold text-lg">Documentation</h2>
                            <nav class="flex flex-col">
                                {{ nav:pages }}
                                    {{ if slug === page:slug }}
                                        <div class="mb-2">
                                            <span class="mb-2 block font-medium">{{ title }}</span>
                                            <div class="pl-4 flex flex-col">
                                                {{ content | noparse | toc }}

                                                <!-- <a class="mb-1 font-medium" href="#">Limitations</a>
                                                <a class="mb-1" href="#">How it works</a>
                                                <a class="mb-1" href="#">Licensing</a> -->
                                            </div>
                                        </div>
                                    {{ else }}
                                        <a class="mb-1" href="{{ url }}">{{ title }}</a>
                                    {{ /if }}
                                {{ /nav:pages }}
                            </nav>
                        </div>

                        <div>
                            <p class="text-xs">Built by <a class="underline" href="https://doublethree.digital">Double Three Digital</a>, <br> Copyright {{ now format="Y" }}.</p>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="w-0 flex-1 overflow-y-scroll">
                <div class="w-full px-6 md:px-0 md:w-3/4 lg:w-1/2 mx-auto my-8">
                    <header class="w-full mb-12">
                        <form action="/search">
                            <input type="text" name="q" placeholder="Search Documentation" class="bg-gray-200 focus:bg-gray-300 px-4 py-2 text-sm focus:outline-none rounded w-full font-medium font-sc" value="{{ get:q }}">
                            <input type="submit" hidden />
                        </form>
                    </header>
                    <div class="w-full">
                        {{ template_content }}
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/site.js"></script>

        <script>
            // Table of Contents
            document.addEventListener('scroll', function () {
                let tocItems = Array.from(document.getElementsByClassName('toc')[0].children).map((child) => {
                    return document.getElementById(child.children[0].id.replace('anchor-', ''))
                })
            })
        </script>
    </body>
</html>
