@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "prism.css";

.prose code::before, .prose code::after {
    content: ""!important;
}

.prose p code {
	@apply bg-gray-200 font-mono text-sm p-1 mx-5;
}

.prose ul {
    list-style-image: url('/img/arrowhead-solid.svg');
}

.prose ul li {
    @apply pl-2;
}

.prose ul li::before {
    content: '';
    position: inherit;
    background: none;
    border-radius: none;
}

.prose blockquote p:first-of-type::before, .prose blockquote p:last-of-type::after {
    content: '';
}

.prose blockquote {
    @apply border-l-4 border-sc-dark-blue not-italic font-medium;
}

.prose blockquote strong {
    @apply font-bold;
}

[x-cloak] {
    @apply hidden;
}
