@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "prism.css";

.prose {
    max-width: auto!important;
}

.prose h2 {
    @apply text-3xl;

    margin-top: 1.8em!important;
    margin-bottom: 0.5em!important;
}

.prose code::before, .prose code::after {
    content: ""!important;
}

.prose p code {
	@apply bg-gray-200 font-mono text-sm p-1 font-normal;
}

.prose ul {
    list-style-image: url('/img/arrowhead-solid.svg');
}

.prose ul li {
    @apply ml-4 pl-1;
}

@screen md {
    .prose ul li {
        @apply -ml-1 pl-1;
    }
}

.prose ul li::before {
    content: '';
    position: inherit;
    background: none;
    border-radius: none;
}

.prose a {
    @apply font-semibold text-sc-dark-blue;
}

.prose a:hover {
    @apply text-sc-dark-light;
}

.prose a code {
    @apply no-underline font-normal;
}

.prose blockquote p:first-of-type::before, .prose blockquote p:last-of-type::after {
    content: '';
}

.prose blockquote {
    @apply border-l-4 border-sc-dark-light bg-sc-dark-blue text-white not-italic font-medium;
}

.prose blockquote p {
    @apply py-2;
}

.prose blockquote strong {
    @apply font-bold text-white;
}

.prose blockquote a {
    @apply text-white;
}

.prose code {
    @apply bg-gray-100 p-1;
}

.prose img {
    @apply p-4 bg-sc-dark-blue;
}

[x-cloak] {
    display: none !important;
}

.algolia-autocomplete {
    @apply w-full;
}
